body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.about-wrapper section {
  padding: 100px 20px;
  text-align: center;
}

.about-hero {
  background: linear-gradient(135deg, hsl(175, 93%, 71%), #dde776);
  color: white;
}

.trusted-section {
  background: #f4f6f9;
}

.logo-grid span {
  margin: 15px;
  display: inline-block;
  font-weight: bold;
}

.philosophy-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.story-section {
  background: #ffffff;
  max-width: 900px;
  margin: auto;
}

.impact-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.impact-grid h3 {
  font-size: 40px;
  color: #003566;
}

.culture-section {
  background: #f9f9f9;
}

.news-card {
  background: #e6f0ff;
  margin: 20px auto;
  padding: 25px;
  max-width: 700px;
  border-radius: 8px;
}

.office-section {
  background: #f4f6f9;
}

.faq-item {
  max-width: 700px;
  margin: 20px auto;
  text-align: left;
}

.about-footer {
  background: #111;
  color: white;
  padding: 30px;
}