.container{
width:80%;
margin:auto;
font-family:Arial;
}

h2{
text-align:center;
}

.form{
display:flex;
gap:10px;
justify-content:center;
margin-bottom:20px;
}

input,select{
padding:8px;
border:1px solid gray;
border-radius:5px;
}

button{
padding:8px 15px;
border:none;
border-radius:5px;
cursor:pointer;
background:#2563eb;
color:white;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}

th{
background:#2563eb;
color:white;
}

.edit{
background:orange;
margin-right:5px;
}

.delete{
background:red;
}