body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url("/bg.jpg") no-repeat center center/cover;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: hsl(221, 35%, 78%);
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: hsl(217, 12%, 79%);
}

/* Main content */
.content {
  width: 100%;
  margin: 0;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255,255,255,0.9); /* thoda transparent */
  border-radius: 8px;
  overflow: hidden;
}

th {
  background: #111827;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

tr:hover {
  background: #f3f4f6;
}

/* Buttons */
button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.view-btn {
  background: #3b82f6;
  color: white;
}

.edit-btn {
  background: #f59e0b;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}